
body {
    font-family: "Lato", sans-serif;
    margin: 0;
    background-color: #F7F7F7;
}

.header {
    background-color: #1761e0;
    height: 40px;
    padding: 16px 0 0 0;
    width: 1385px;
    
}

.header-name {
    color: black;
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.so{
    margin-left: 20px;
}

.header-title {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    margin: 0 auto;
   margin-left: 15px;
}

.mywrapper {
    margin-right: auto;
    margin-left: auto;
    width: 1385px;
    padding-right: 10px;
    padding-left: 10px;
    
    height: 500px;
}

.mycard {
    margin-bottom: 24px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
    float: left;
    padding: 10px;
    width: 670px;
    margin-left: 0px;
    
}
.mycard1 {
    margin-bottom: 24px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
    width: 330PX;
    height: 100px;
    float: left;
    padding-left: 15px;
}
.menu {
    height: 112px;
    width: 912px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 24px;
    margin: -80px auto 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.Select-control {
    width: 256px;
    height: 48px;
}

.Select--single>.Select-control .Select-value,
.Select-placeholder {
    line-height: 48px;
}

.Select--multi .Select-value-label {
    line-height: 32px;
}

.menu-title {
    margin-bottom: 6px;
    font-weight: bold;
    color: #079A82;
}
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
    .header,.header-name,.header-title,.menu,.menu-title,.mycard,.mycard1,.mywrapper,.Select--multi,.Select--single,.Select-control,.Select-placeholder,
    .Select-value,.Select-value-label,.so{
        width: 100%;
        float: left;
    }
}
 
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    
    /* CSS */
    .header,.header-name,.header-title,.menu,.menu-title,.mycard,.mycard1,.mywrapper,.Select--multi,.Select--single,.Select-control,.Select-placeholder,
    .Select-value,.Select-value-label,.so{
        width: 100%;
        float: left;
    }
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media  only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    /* CSS */
    .header,.header-name,.header-title,.menu,.menu-title,.mycard,.mycard1,.mywrapper,.Select--multi,.Select--single,.Select-control,.Select-placeholder,
    .Select-value,.Select-value-label,.so{
        width: 100%;
        float: left;
    }
  }
   /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    
    /* CSS */
    .header,.header-name,.header-title,.menu,.menu-title,.mycard,.mycard1,.mywrapper,.Select--multi,.Select--single,.Select-control,.Select-placeholder,
    .Select-value,.Select-value-label,.so{
        width: 100%;
    }
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    
    /* CSS */
    .header,.header-name,.header-title,.menu,.menu-title,.mycard,.mycard1,.mywrapper,.Select--multi,.Select--single,.Select-control,.Select-placeholder,
    .Select-value,.Select-value-label,.so{
        width: 100%;
    }
  }
