body {
    font-family: "Monospace", sans-serif;
    margin: 0;
    background-color: #F7F7F7;
}

.header {
    background-color: #0494f4;
    padding: 5px 0;
}

.under__header {
    margin-top: 5px;
    padding: 5px;
    display: flex;
}

.under__header__item {
    margin: 0 5px;
    height: 100%;
    width: 100%;
    box-shadow: 0 2px 4px 1.5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.under__header__item p,
.under__header__item h4 {
    margin-left: 18px;
}

.under__header__item p {
    font-weight: 500;
    margin-left: 18px;
}

.header-title {
    color: #FFFFFF;
    line-height: 25px;
    font-weight: bold;
    text-align: left;
    margin: 0 5px;
    font-size: 20px;
}

.wrapper {
    display: flex;
    width: 100%;
    margin-top: 32px;
}

.card {
    width: 100%;
    margin-bottom: 24px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
    margin-left: 9px;
    margin-right: 9px;
}

.menu {
    height: 112px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 24px;
    margin: -80px auto 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.Select-control {
    width: 256px;
    height: 48px;
}

.Select--single>.Select-control .Select-value,
.Select-placeholder {
    line-height: 48px;
}

.Select--multi .Select-value-label {
    line-height: 32px;
}

.menu-title {
    margin-bottom: 6px;
    font-weight: bold;
    color: #079A82;
}