
main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

aside {
    width: 30rem;
    height: 100vh;
    padding: 2rem;
    position: fixed;
    left: 0;
    background-color: var(--text-50);
    box-shadow: 0 4px 1rem rgba(0,0,0,0.2);
    z-index: 1;
    transition: all 0.2s linear;
}
aside .list-category li{
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-transform: capitalize;
    transition: 0.2s all linear;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
aside .list-category li:hover {
    transform: translateX(1rem)
}
.bars {
    width: 4rem;
    height: 4rem;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;

    display: none;
    position: absolute;
    top: 0;
    right: -4rem;

    background-color: var(--text-50);
    box-shadow: 0 5px 0.5rem rgba(0,0,0,0.2);
    font-size: 3rem;
    line-height: 4rem;
    text-align: center;
    cursor: pointer;
}

section {
    margin-left: 30rem;
    padding: 2rem;
    width: 100%;
    min-height: calc(100vh - 8rem);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    background-color: var(--text-100);
}
.item {
    min-width: 0;
}





/* responsive */
@media (max-width: 1024px) and (min-width: 769px) {
    aside {
        transform: translateX(-30rem);
    }

    aside.active {
        transform: translateX(0);
    }

    .bars {
        display: block;
        transform: translateX(0);
    }
    section {
        margin-left: 0; 
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    aside {
        transform: translateX(-30rem);
    }
    aside.active {
        transform: translateX(0);
    }
    .bars {
        display: block;
        transform: translateX(0);
    }
    section {
        margin-left: 0;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    section {
        grid-template-columns: 1fr;
    }
}